body{
    font-family: Google Sans, Arial, sans-serif;
    color: #ffffff;
    background-color: #232429;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100vh
}

@font-face {
    font-family: Google Sans;
    src: url('assets/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}

h1{
    color: #ffffff;
    font-size: 96px;
    font-weight: 500;
    margin: 0;
}

.shortcut{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
}

.logo{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 15px;
}

.shortcut > *{
    margin-left: 15px;
}

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.start{
    align-items: flex-start; 
}

.end{
    align-items: flex-end;
}

.vertical_container > * + *{
    margin-top: 15px;
}

.horizontal_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.between{
    justify-content: space-between;
}

.parent-width{
    width: 100%;
}

.parent-width-65{
    width: 65%;
}

.parent-width-20{
    width: 20%;
}

.horizontal_container > * + *{
    margin-left: 15px;
}

.button_container{
    background-color: #303135;
    color: #ffffff;
    border:  1px solid #303135;
    padding: 10px 20px;
    border-radius: 0.6em;
    font-weight: 450;
    font-size: 15px;
}

.button_container:hover{
    border: 1px solid #c6c8c7;
}

a:link{
    color: #ffffff;
    text-decoration: none;
    font: inherit;
}

a:visited{
    color: #ffffff;
    text-decoration: none;
    font: inherit;
}

input{
    display: flex;
    width: 60vw;
    height: 4vh;
    background-color: #4d5055;
    color: #ffffff;
    border:  1px solid #4d5055;
    padding: 10px 20px;
    border-radius: 4.5vh;
    font-weight: 400;
    font-size: 2vh;
}

.clean{
    width: 40vw;
    height: 4vh;
    background-color: #232429;
    color: #9c9ea2;
    border:  1px solid #9c9ea2;
    padding: 10px 20px;
    border-radius: 0.5vh;
}

input:focus-visible{
    background-color: #303135;
    border:  1px solid #303135;
    outline:  1px solid #303135;
    box-shadow: 0 0 5px #232429;
}

.clean:focus-visible{
    background-color: #232429;
    border:  1px solid #5096ff;
    outline:  1px solid #5096ff;
    box-shadow: 0 0 0px none;
}

form{
    display: flex;
    width: 60vw;
    justify-content: center; 
}

.clean_overlay{
    display: flex;
    align-items: flex-end;
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #5096ff;
}

.clean_overlay > * + *{
    margin-left: -65px;
}

.rounded{
    border-radius: 1.5em;
}

.primary{
    background-color: #8fb6fa;
    color: #232429;
    border:  1px solid #8fb6fa;
    font-weight: 500;
    padding: 13px 20px;
    font-optical-sizing: auto;
}

.primary:focus-visible{
    background-color: #c2d7f9;
    border:  1px solid #c2d7f9;
    outline:  1px solid #c2d7f9;
    box-shadow: 0 0 0px none;
}

.margin-top{
    margin-top: 40px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.grey{
    color: #9c9ea2;
}

h2{
    font-size: 30px;
    font-weight: 500;
    margin: 10;
}

h3{
    font-size: 20px;
    font-weight: 400;
    margin: 5;
}

.size-30{
    font-size: 30px;
}